@model MovieStore.Web.Models.MovieModels.MovieCreateModel

@{
    ViewData["Title"] = "Add Movie";
}

<h1>Create new Movie</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMovie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorId" class="control-label">Director</label>
                <select asp-for="DirectorId" class="form-control">
                   @foreach(var director in Model.Directors)
                   {
                       <option value="@director.Id">@director.Name</option>
                   }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProducingCompanyId" class="control-label">Producing Company</label>
                <select asp-for="ProducingCompanyId" class="form-control">
                    @foreach (var company in Model.ProducingCompanys)
                   {
                       <option value="@company.Id">@company.Name</option>
                   }
                </select>
            </div>
            <div style="display:inline-block" class="form-group">
                <label asp-for="GenreId" class="control-label">Genre</label>
                <select asp-for="GenreId" class="form-control">
                   @foreach(var genre in Model.Genres)
                   {
                       <option value="@genre.Id">@genre.Name</option>
                   }
                </select>
            </div>
            <div style="display:inline-block">
                    <a asp-action="AddGenre">Create Genre</a>
                    <a asp-action="ListGenres">List Genres</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllMovies">Go to Movies List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
