@model MovieSystem.Web.Models.MovieModels.MovieViewModel

@{
    ViewData["Title"] = "Details of Directors";
}

<h1>Details Movie</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProducingCompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProducingCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditMovie" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="GetAllMovies">Go to Movie List</a>
</div>
